body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100%;
  color: rgb(42, 78, 56);
}
main {
  height: 100%;
}
section {
  padding: 1rem 5rem;
}
h2.brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 500px;
  padding-left: 10%;
}
p {
  margin: 3rem;
  font-size: 20px;
  font-weight: 500;
}
.btnSection {
  display: block;
  text-align: center;
  padding: 2rem 10rem;
  background-color: rgb(245, 255, 203);
}
.btn {
  cursor: pointer;
}
#textBox {
  padding: 7rem 10rem;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: 100% 88%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#worries {
  text-align: center;
}
#flower {
  text-align: center;
  padding: 1rem;
}
img {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}
img.flower {
  width: 10%;
  height: 10%;
  position: relative;
  animation-name: flower;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}
@keyframes flower {
  from {
    width: 10%;
    height: 10%;
  }
  to {
    width: 50%;
    height: 50%;
  }
}
/* Positive section */
#positives {
  text-align: center;
  background-color: rgb(245, 255, 203);
}
#positivesBox {
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
}
.item {
  color: rgb(14, 168, 0);
  font-family: "Caveat", cursive;
  padding: 10px;
  font-size: 2rem;
  font-weight: 400;
}
.add {
  margin-left: 1%;
}
/* footer */
footer{
  text-align: center;
  font-size: 12px;
  background-color: black;
  color: aliceblue;
  padding: 1rem;
}
